@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap);

body {
    height: 200vh;
    background-image: url("https://images.freeimages.com/images/large-previews/3a8/white-wall-1571193.jpg");
    background-position: -28px -120px ; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 2800px;
    
    background-color: #F7F7F7;
    display: flex; ;
     justify-content: center;
margin: 0;
font-family: Roboto, sans-famly;
}

.container {
    border-radius:  0 0 0; ;
    margin-top: 100px;
    min-width: 350px;
    background: linear-gradient(
        320deg,
        #FFEC9D,
        #ebd583,
        #F9E36E
        );
       
    box-shadow: 15px 10px 15px rgb(205, 202, 202);
        padding: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    border-radius: 0 0 20px 0;
}

.searchI {
    background: fixed;
    border-radius: 50%;
}

.form {
padding-left: 23px;
}